<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cat Stream </title>
    <link rel="stylesheet" href="main.css">
</head>  
<body class="light-theme">
    <!-- Header -->
    <h1>Welcome to the cat stream</h1>
    <p id="msg">Interaction</p>
    <ul>
        <li class="list">Press 1,2, 3, or 4 to play a sound </li>
        <li class="list">Unmute the video to hear feedback from the sound </li>
        <li class="list">Use the arrow keys to control the toy </li>
    </ul>
    <p id="msg">Logger</p>
    <ul>
        <li id = "textedit" class="list">Typed keys appear here: </li>
        <li id = "upkeys">  </li>
        <li id = "downkeys"> </li>
        <li id = "rightkeys"> </li>
        <li id = "leftkeys"> </li>
    </ul>

    <!-- Livestream -->
    <div id="video-grid"></div>
    <button onclick="unmute()"> toggle sound </button>

    <!-- Message Board -->
    <!-- <form id="posttofirebase">
        <input type="text" id="name-field">
    </form>
    <button onclick="firebasepost()"> Send To FB </button>
    <p id="FB-post-feedback"> </p> -->

    <!-- Initialize Firebase database -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
    <script src="database.js" type="text/javascript"></script>

    <!-- socket.io -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <!-- My actual shit -->
    <script src="keystroke-logger.js" type="text/javascript"></script>
    <script src="video-general.js" type="text/javascript"></script>
    <script src="visitor.js" type="text/javascript" defer></script>
    <noscript>You need to enable JavaScript to view the full site.</noscript>
</body>
</html>
